{% extends '../index.html' %}
{% block post-list %}


<div id="post">
    <form v-on:submit.prevent="submit" method="post">

        <input type='hidden' id='csrf' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
                <li v-for="error in errors">[[error]]</li>
            </ul>
        </p>
        <p>
            <label for="title">Title:</label>
            <input name="title" type="text" id="title" v-model="title">
        </p>
        <p>
            <label for="content">Content:</label>
            <textarea name="content" id="content" v-model="content" cols="100" rows="10"></textarea>
        </p>
        <p>
            <button class="btn" type="submit">Submit</button>
            <!-- <input type="submit" value="Submit"> -->
        </p>
    </form>

    <div>
        <ul>
            <li v-for="p in posts">
                <h3><small>[[p.pk]].</small> [[p.title]]</h3>
                <p>[[p.content]]</p>
            </li>
        </ul>
    </div>
</div>
{% endblock post-list %}
